@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root{
    --nav-width: 92px;
  
    /*===== Colores =====*/
    --first-color: #00B24B;
    --bg-color: #f4f4f4;
    --sub-color: #f4f4f4;
    --white-color: #FFF;
    
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    
    /*===== z index =====*/
    --z-fixed: 100;
  }

  /*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
  }
  body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
  }
  h1{
    margin: 0;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
  }

.logo{
  width: 512px;
  height: 512px;
}


.example-open .modal-backdrop {
  background-color:rgb(255, 255, 255);
  }

