:host {
    --color-bg-default: #008502;
    --color-fg-primary: rgb(116, 0, 151);
    --color-fg-default: #fff;
    --color-fg-accent: #444;
    --color-bg-inrange: #333;
    --color-fg-muted: #fff;
    --day-width: 35px;
    --day-height: 30px;
  }
  /* increase start and end */
  .container.range-plugin .calendar>.days-grid>.day.start,
  .container.range-plugin .calendar>.days-grid>.day.end {
    font-weight: bold;
    transform: scale(1.2);
    z-index: 1;
  }